<div id="controls">
    <app-data-ivem-id-select #addDataIvemIdControl id="addDataIvemIdControl"></app-data-ivem-id-select>
    <div id="toolbar">
        <app-svg-button #selectAllControl></app-svg-button>
        <app-svg-button #removeSelectedControl></app-svg-button>
        <app-svg-button #columnsControl></app-svg-button>
        <app-svg-button #popoutControl></app-svg-button>
    </div>
    <app-text-input #filterControl id="filterControl"></app-text-input>
</div>
<app-data-ivem-id-list #grid id="grid" />
