
# Motif
node_modules/
*.tgz
/.angular/cache
/releases/
/deployments/
/dist/
/dev_static/**/*
!/dev_static/README.txt
/debug.log
/api/
/lib/
/temp/
/out-tsc/
/$null
/extensions/highcharts/src/blue-frame.ts
/extensions/highcharts/app/command-parameters/highstock-chart-command-parameters-component-directive.ts
/extensions/highcharts/app/command-parameters/add-security-series-highstock-chart-command-parameters/add-security-series-highstock-chart-command-parameters.component.html
/extensions/highcharts/app/command-parameters/add-security-series-highstock-chart-command-parameters/add-security-series-highstock-chart-command-parameters.component.scss
/extensions/highcharts/app/command-parameters/add-security-series-highstock-chart-command-parameters/add-security-series-highstock-chart-command-parameters.component.ts
/extensions/highcharts/app/highstock-chart/highstock-chart.component.html
/extensions/highcharts/app/highstock-chart/highstock-chart.component.scss
/extensions/highcharts/app/highstock-chart/highstock-chart.component.ts
/extensions/highcharts/app/highstock-chart-ditem/highstock-chart-ditem.component.html
/extensions/highcharts/app/highstock-chart-ditem/highstock-chart-ditem.component.scss
/extensions/highcharts/app/highstock-chart-ditem/highstock-chart-ditem.component.ts
/extensions/highcharts/app/highstock-chart-status-bar/highstock-chart-status-bar.component.html
/extensions/highcharts/app/highstock-chart-status-bar/highstock-chart-status-bar.component.scss
/extensions/highcharts/app/highstock-chart-status-bar/highstock-chart-status-bar.component.ts
/extensions/highcharts/out-tsc/
/.vscode/**/*
/src/config/SelfWealth-Standard.svg
/src/assets/fonts/unica-one-v8-latin-regular.woff2
/src/assets/fonts/unica-one-v8-latin-regular.woff
/src/assets/img/navajo-point-robert-montgomery-reduced.jpg
