<svg-icon id="exclamationIcon" name="Exclamation" [svgStyle]="{ 'fill': exclamationColor }" [style.visibility]="valid ? 'hidden' : 'visible'" />
<app-captioned-checkbox #notControl id="notControl" />
<div id="affirmativeOperatorDisplayLines">
  @for (line of affirmativeOperatorDisplayLines; track line) {
    <span id="affirmativeOperatorDisplayLine">{{line}}</span>
  }
</div>
<app-caption-label #currencyLabel id="currencyLabel" />
<app-enum-array-input #currencyControl id="currencyControl" inputSize="3em" />
