@use './partials/variables';
@use './partials/svg-icon-button-size';
@use './partials/main-toolbar-css-mixin';
@use './partials/centered-toolbar-group-mixin';

:host {
    display: block;
    position: absolute;
    overflow: clip;
    height: 100%;

    > #mainDiv {
        display: flex;
        flex-direction: column;
        height: 100%;

        > #mainToolbarDiv {
            @include main-toolbar-css-mixin.mainToolbarCssMixin;
            @include svg-icon-button-size.toolbarDescendantMixin;

            > #accountGroupInput {
                width: 8em;
            }

            > #orderReqestButtonsDiv {
                @include centered-toolbar-group-mixin.centeredToolbarGroupMixin;
                margin-left: variables.$toolbar-button-group-separation;
            }

            > #columnButtonsDiv {
                @include centered-toolbar-group-mixin.centeredToolbarGroupMixin;
                margin-left: variables.$toolbar-button-group-separation;
            }

            > #linkButtonsDiv {
                @include centered-toolbar-group-mixin.centeredToolbarGroupMixin;
                margin-left: variables.$toolbar-button-group-separation;
            }
        }

        #balances {
            height: 100%;
        }

        #holdings {
            height: 100%;
        }
    }

    > #dialogDiv {
        height: 100%;
        width: 100%;
    }
}
