<svg-icon id="exclamationIcon" name="Exclamation" [svgStyle]="{ 'fill': exclamationColor }" [style.visibility]="valid ? 'hidden' : 'visible'" />
<app-captioned-checkbox #notControl id="notControl" />
<div id="affirmativeOperatorDisplayLines">
  @for (line of affirmativeOperatorDisplayLines; track line) {
    <span id="affirmativeOperatorDisplayLine">{{line}}</span>
  }
</div>
<app-caption-label #minLabel id="minLabel" />
<app-date-input #minControl id="minControl" />
<app-caption-label #maxLabel id="maxLabel" />
<app-date-input #maxControl id="maxControl" />
