<span id="typeLabelSpan">{{typeLabel}}</span>
<span id="typeSpan">{{type}}</span>
<app-caption-label #enabledLabel id="enabledLabel" for="enabledInput" />
<app-checkbox-input #enabledControl id="enabledControl" inputId="enabledInput" />
<app-caption-label #nameLabel id="nameLabel" for="nameInput" />
<app-text-input #nameControl id="nameControl" inputId="nameInput" />
<app-caption-label #descriptionLabel id="descriptionLabel" for="descriptionInput" />
<app-text-input #descriptionControl id="descriptionControl" inputId="descriptionInput" />
<span id="statusLabelSpan">{{statusLabel}}</span>
<span id="statusSpan">{{status}}</span>
