<app-caption-label #fontFamilyLabel for="fontFamilyInput" />
<app-text-input #fontFamilyControl id="fontFamilyControl" inputId="fontFamilyInput" spellCheck="false" />
<app-caption-label #fontSizeLabel for="fontSizeInput" />
<app-text-input #fontSizeControl id="fontSizeControl" inputId="fontSizeInput" spellCheck="false" />
<app-caption-label #columnHeaderFontSizeLabel for="columnHeaderFontSizeInput" />
<app-text-input #columnHeaderFontSizeControl id="columnHeaderFontSizeControl" inputId="columnHeaderFontSizeInput" spellCheck="false" />
<app-caption-label #rowHeightLabel for="rowHeightInput" />
<app-integer-text-input #rowHeightControl id="rowHeightControl" inputId="rowHeightInput" />
<app-caption-label #showHorizontalGridLinesLabel for="showHorizontalGridLinesCheckbox" />
<app-checkbox-input #showHorizontalGridLinesCheckbox inputId="showHorizontalGridLinesCheckbox" />
<app-caption-label #showVerticalGridLinesLabel for="showVerticalGridLinesCheckbox" />
<div id="showVerticalGridLinesValue">
    <app-checkbox-input #showVerticalGridLinesCheckbox inputId="showVerticalGridLinesCheckbox"></app-checkbox-input>
    <div id="inHeaderOnly"><span>(</span><app-captioned-checkbox #showVerticalGridLinesInHeaderOnlyControl></app-captioned-checkbox><span>)</span></div>
</div>
<app-caption-label #gridLineHorizontalWidthLabel for="gridLineHorizontalWidthInput" />
<app-integer-text-input #gridLineHorizontalWidthEdit id="gridLineHorizontalWidthEdit" inputId="gridLineHorizontalWidthInput" />
<app-caption-label #gridLineVerticalWidthLabel for="gridLineVerticalWidthInput" />
<app-integer-text-input #gridLineVerticalWidthEdit id="gridLineVerticalWidthEdit" inputId="gridLineVerticalWidthInput" />
<app-caption-label #cellPaddingLabel for="cellPaddingInput" />
<app-integer-text-input #cellPaddingEdit id="cellPaddingEdit" inputId="cellPaddingInput" />
<app-caption-label #changedAllHighlightDurationLabel for="changedAllHighlightDurationInput" />
<app-integer-text-input #changedAllHighlightDurationEdit id="changedAllHighlightDurationEdit" inputId="changedAllHighlightDurationInput" />
<app-caption-label #addedRowHighlightDurationLabel for="addedRowHighlightDurationInput" />
<app-integer-text-input #addedRowHighlightDurationEdit id="addedRowHighlightDurationEdit" inputId="addedRowHighlightDurationInput" />
<app-caption-label #changedRowRecordHighlightDurationLabel for="changedRowRecordHighlightDurationInput" />
<app-integer-text-input #changedRowRecordHighlightDurationEdit id="changedRowRecordHighlightDurationEdit" inputId="changedRowRecordHighlightDurationInput" />
<app-caption-label #changedValueHighlightDurationLabel for="changedValueHighlightDurationInput" />
<app-integer-text-input #changedValueHighlightDurationEdit id="changedValueHighlightDurationEdit" inputId="changedValueHighlightDurationInput" />
<app-caption-label #focusRowColoredLabel for="focusRowColoredCheckbox" />
<app-checkbox-input #focusRowColoredCheckbox inputId="focusRowColoredCheckbox" />
<app-caption-label #focusRowBorderedLabel for="focusRowBorderedCheckbox" />
<app-checkbox-input #focusRowBorderedCheckbox inputId="focusRowBorderedCheckbox" />
<app-caption-label #focusRowBorderWidthLabel for="focusRowBorderWidthInput" />
<app-integer-text-input #focusRowBorderWidthEdit id="focusRowBorderWidthEdit" inputId="focusRowBorderWidthInput" />
<app-caption-label #smoothHorizontalScrollingLabel for="smoothHorizontalScrollingCheckbox" />
<app-checkbox-input #smoothHorizontalScrollingCheckbox inputId="smoothHorizontalScrollingCheckbox" />
<app-caption-label #horizontalScrollbarWidthLabel for="horizontalScrollbarWidthInput" />
<app-integer-text-input #horizontalScrollbarWidthEdit id="horizontalScrollbarWidthEdit" inputId="horizontalScrollbarWidthInput" />
<app-caption-label #verticalScrollbarWidthLabel for="verticalScrollbarWidthInput" />
<app-integer-text-input #verticalScrollbarWidthEdit id="verticalScrollbarWidthEdit" inputId="verticalScrollbarWidthInput" />
<app-caption-label #scrollbarMarginLabel for="scrollbarMarginInput" />
<app-integer-text-input #scrollbarMarginEdit id="scrollbarMarginEdit" inputId="scrollbarMarginInput" />
<app-caption-label #scrollbarThumbInactiveOpacityLabel for="scrollbarThumbInactiveOpacityInput" />
<app-number-input #scrollbarThumbInactiveOpacityControl id="scrollbarThumbInactiveOpacityControl" inputId="scrollbarThumbInactiveOpacityInput" />
