@use './partials/revgrid';

:host {
    display: flex;
    flex-direction: column;
    height: 100%;

    #delayedBadness {
        flex: 0 0 auto;
    }

    .tradesGridHost {
        @include revgrid.hostAsColumnFlexItem;
        flex: 1 1 0;

        #gridCanvas {
            @include revgrid.canvas;
        }
    }
}
