<app-caption-label #reviewEnabledLabel for="reviewEnabledCheckBox" />
<app-checkbox-input #reviewEnabledControl inputId="reviewEnabledCheckBox" />
<app-caption-label #defaultOrderTypeIdLabel for="defaultOrderTypeIdSelect" />
<app-integer-enum-input #defaultOrderTypeIdControl id="defaultOrderTypeIdControl" inputId="defaultOrderTypeIdSelect" />
<app-caption-label #defaultTimeInForceIdLabel for="defaultTimeInForceIdSelect" />
<app-integer-enum-input #defaultTimeInForceIdControl id="defaultTimeInForceIdControl" inputId="defaultTimeInForceIdSelect" />
